<button type="button" class="list-group-item list-group-item-action list-unstyled">
  <li id="email<%= email.id %>"><%= link_to email.objet, email_path(email.id), method: :get, remote: true, class: "emails font-weight-bold text-dark" %></li>
</button>